@media (max-width:992px) {

    .nav-item>.btn,
    .nav-item>.btn-outline-success,
    .nav-item>.btn-outline-primary {
        text-align: unset !important;
        border: unset;
    }

    .nav-item>.btn-outline-primary,
    .nav-item>.btn-outline-success {
        color: unset;
        border-color: unset;
    }

    .nav-item>.btn-outline-primary:hover,
    .nav-item>.btn-outline-success:hover {
        color: unset;
        background-color: unset;
        border-color: unset;
    }

    .nav-item>.btn {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}